.Tooltip{
	margin-top: -450px;
	margin-left: -250px;
	margin-right: -250px;
	margin-bottom: -250px;
	vertical-align: top;
	horizontal-align: center;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(51,54,49,250) ), to( #000000fa ) );
	border: 3px solid #111111FF;
	border-radius: 6px;
	
	flow-children: down;
	width: 300px;
}

.CostPanel{
	flow-children: right;
}

.abilSpecial{
	color: #bbbbbbff;
	font-size: 15px;
}

#Contents{
	margin-top: -250px;
	margin-left: -250px;
	margin-right: -250px;
	margin-bottom: -250px;
	vertical-align: top;
	horizontal-align: center;
	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(51,54,49,250) ), to( #000000fa ) );
	border: 3px solid #111111FF;
	border-radius: 6px;
	
	flow-children: down;
	width: 300px;
}

#titlePanel{
	flow-children: right;
	height: 85px;
	width: 300px;
	margin-bottom: -10px;
}

#UnidImage{
	margin-left: 10px;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

#ItemImage{
	width: 56px;
	height: 56px;
	margin-right: 0px;
	margin-bottom: 0px;
	border: 2px solid #111111FF;
}

#ItemImageContainer{
	width: 56px;
	height: 56px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	border: 2px solid #111111FF;
}

#titlePanelTextPanel{
	width: 220px;
}

#ItemName{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 24px;
	color: #DDDDDDFF;
	horizontal-align: center;
	vertical-align: center;
	text-transform: uppercase;
	max-width: 220px;
	text-align: center;
}

#ItemDesc{
	margin-left: 5px;
	font-size: 16px;
}

#Slot{
    font-size: 16px;
	margin-left: 15px;
}

#AbilSpecial{
	flow-children: down;
	margin-top: 10px;
	margin-bottom: 10px;
}

#ItemLore{
	font-size: 16px;
	margin-left: 5px;
	color: #888888FF;
}

#Costs{
	flow-children: right;
	margin-bottom: 10px;
}

#Cooldown{
	margin-left: 20px;
}
#SellPrice{
	margin-left: 10px;
	color: #999900ff;
}
.CostPanel{
	width: 65px;

}
.CostImage{
	width: 30px;
	height: 30px;
	border: 2px solid #111111FF;
}

.CostText{
	font-size: 18px;
	color: #bbbb22ff;
	margin-left: 6px;
	horizontal-align: left;
	vertical-align: center;
}